.sedes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
    gap: 20px;
}

.card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 350px;
    margin: 5px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    border: 2px solid #00a2ff;
}

.card:hover {
    transform: scale(1.05);
}

.imagen-sede {
    position: relative;
    width: 100%;
    
    overflow: hidden;
    border-radius: 10px;
}

.card h3 {
    margin: 10px 0;
    font-size: 20px;
    font-weight: bold;
}

.card .ubicacion,
.card .horario,
.card .telefono {
    margin: 5px 0;
    color: #555;
}

.search-section {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    width: 100%;
}

.search-container {
    display: flex;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

.search-input {
    flex: 1;
    padding: 10px 15px;
    border: 1px solid #ddd;
    border-right: none;
    border-radius: 5px 0 0 5px;
    font-size: 16px;
}

.search-button {
    padding: 10px 20px;
    background-color: #0d3c75;
    color: white;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

.search-button:hover {
    background-color: #0056b3;
}

  .conoce-mas-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #0d3c75;
    color: white;
    font-family: Arial, sans-serif;
    font-size: 16px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 10px;
}
.conoce-mas-btn:hover {
    background-color: #0056b3;
}