.container {
    display: flex;
    align-items: center; 
    justify-content: center; 
    flex-wrap: wrap; 
    gap: 20px;
    padding: 50px 20px;
    text-align: left; 
    background-color: white;
    margin: auto;
    border-radius: 10px;
}


.container-texto p {
    color: #00a2ff;
    font-size: 20px;
}

.container img {
    max-width: 500px;
    flex: 1;
    min-width: 300px;
    height: auto;
    border-radius: 10px;
}


.container-texto {
max-width: 50%;
}



.btn {
    margin-top: 10px;
    background-color: #0d3c75;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #00a2ff;
}


.info {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    gap: 20px;
    text-align: center;
    margin: 50px 0;
}

.info-card {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100px;
    height: 100px;
}