/* estilos generales para todas las paginas */

body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
    margin: 0;
    padding: 0;
    text-align: center;
}

/*  header */
header {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    padding: 10px 20px;
}

header nav {
    width: 100%;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    gap: 15px;
    margin: 0;
    padding: 0;
}

header nav ul a {
    color: rgb(4, 36, 177);
    text-decoration: none;
    padding: 8px;
    border-radius: 5px;
    transition: background-color 0.3s ease-in-out;
}

header nav ul a:hover {
    background-color: #00a2ff;
}

/* contenedor */
.main-container {
    max-width: 1020px;
    margin: 0 auto;
    padding: 10px;
}

/* titulo de las paginas */
.header {
    background-color: #0d3c75;
    color: white;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
}

/* los enlaces*/
a {
    text-decoration: none;
    color: inherit;
}