main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 40px;
    gap: 30px;
}

.doctor {
    background: white;
    border-radius: 10px;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.5);
    padding: 20px;
    width: 280px;
    text-align: center;
    transition: transform 0.3s ease-in-out;
    border: 2px solid #3286e0;
}

.doctor:hover {
    transform: scale(1.05);
}

.doctor img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.doctor .nombre-dr {
    color: #3286e0;
    font-size: 1.3em;
    margin: 10px 0;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.doctor p {
    color: #666;
    font-size: 1em;
    margin: 6px 0;
    line-height: 1.4;

}


